<%= form_for @student do |c| %>
  <div class="ui form">
   <h4 class="ui dividing header">Edit Student: <%= @student.fName %> <%= @student.lName %></h4>
   <div class='field'>
    <label> Student First Name</label>
   </div>
    <%= c.text_field :fName %>
   <div class='field'>
    <label> Student Last Name</label>
    <%= c.text_field :lName %>
    </div>
   <div class='field'>
    <label> Age</label>
    <%= c.text_field :age %>
    </div>
   <div class='field'>
    <label> Education </label>
    <%= c.text_field :education %>
    </div>
    <br>
    <button class="ui button" type='<%= c.submit %>'>Update</button>

  <% end %>