<h3>Student Tab</h3>
<%= form_for @new_student, url: student_index_path, html: {class: "student_form"} do |i| %>
    <div class="ui relaxed grid">
      <div class="two column row">
        <div class="column"><h1> First Name </h1></div>
        <br>
        <div class="column"><%= i.text_field :fName %></div>
        <br> 
        <div class="column"><h1> Last Name </h1></div>
        <br>
        <div class="column"><%= i.text_field :lName %></div>
        <br>
        <div class="column"><h1> Age</h1></div>
        <br>
        <div class="column"><%= i.text_field :age %></div>
        <br>
        <div class="column"><h1> Education </h1></div>
        <br>
        <div class="column"><%= i.text_field :education %></div>
        <br>
        <div class="column"><h1> Cohort </h1></div>
        <br>
        <div class="column"><%= (select_tag "cohort", options_from_collection_for_select(Cohort.all, "id", "name"))%></div>
        <br>
        <br>
        <div class="column"><%= i.submit "Create" %></div>
      </div>
    </div>
<% end %>

<div>
  <% @student.each do |i| %>
    <div class="ui relaxed centered grid">
      <div class="seven column row">
        <div class="column"><p> First Name: <%= i.fName %></p></div>
        <div class="column"><p> Last Name: <%= i.lName %></p></div>
        <div class="column"><p> Age: <%= i.age %> </p></div>
        <div class="column"><p> Education: <%= i.education %> </p></div>
        <div class="column"><p> Cohort: <%= i.cohorts.first.name %> </p></div>
        <br>
        <div class="column"><%= link_to "DELETE", '/student/' + i.id.to_s, method: :delete, class: "btn" %></div>
        <div class="column"><%= link_to  "EDIT", edit_student_path(@student) %></div>
        </div>
      </div>
  <% end %>
</div>