<%= form_for @course  do |c| %>
<div class="ui form">
   <h4 class="ui dividing header">Edit Course: <%= @course.name %></h4>
   <div class='field'>
     <label> Course Name</label>
    <%= c.text_field :name %>
</div>
   <div class='field'>
    <label> Course Hours</label>
    <%= c.text_field :hours %>
   </div>
    <br>
   <button class="ui button" type='<%= c.submit %>'>Update</button>
  <% end %>