<%= form_for @cohort  do |c| %>
<div class="ui form">
 <h4 class="ui dividing header">Edit Cohort: <%= @cohort.name %></h4>
   <div class='field'>
    <label>Cohort</label>
    <%= c.text_field :name %>
   </div>
   <div class="field">
     <label> Duration(Start Date/End Date)</label>
   <div class="two fields">
   <div class="field">
     <%= c.text_field :sDate %>
   </div>
   <div class="field">
     <%= c.text_field :eDate %>
   </div>
  </div>
</div>
<button class="ui button" type='<%= c.submit %>'>Update</button>
  <% end %>