<h3>Cohort Tab</h3>
<br>
<%= form_for @new_cohort, url: cohort_index_path, html: {class: "cohort_form"} do |i| %>
    <div class="ui relaxed grid">
      <div class="two column row">
        <div class="column"><h1> Name </h1></div>
        <br>
        <div class="column"><%= i.text_field :name %></div>
        <br> 
        <div class="column"><h1> Start Date </h1></div>
        <br>
        <div class="column"><%= i.text_field :sDate %></div>
        <br>
        <div class="column"><h1> End Date </h1></div>
        <br>
        <div class="column"><%= i.text_field :eDate %></div>
        <br>
        <br>
        <div class="column"><%= i.submit "Create" %></div>
      </div>
    </div>
    <% end %>

<div>
  <table class="ui celled table">
    <thead>
    <tr><th> Cohort </th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    </tr></thead>
  <tbody>
  <% @cohort.each do |i| %>
    <tr>
      <td data-label="Cohort"><%= i.name %></td>
      <td data-label="Start"><%= i.sDate %></td>
      <td data-label="End"><%= i.eDate %></td>
      <td data-label=""><%= link_to "DELETE", '/cohort/' + i.id.to_s, method: :delete, class: "btn" %></td>
      <td data-label=""><%= link_to  "EDIT", edit_cohort_path(@cohort) %></td>
    </tr>
  <% end %>
</div>