<%= form_for @instructor  do |c| %>
  <div class="ui form">
    <h4 class="ui dividing header">Edit Instructor: <%= @instructor.fName %> <%= @instructor.lName %></h4>
    <div class='field'>
      <label> First Name</label>
      <%= c.text_field :fName %>
    </div>
    <div class='field'>
      <label> Last Hours</label>
      <%= c.text_field :lName %>
    </div>
    <div class='field'>
      <label> Age </label>
      <%= c.text_field :age %>
    </div>
    <div class='field'>
      <label> Salary </label>
      <%= c.text_field :salary %>
    </div>
    <div class='field'>
      <label> Education </label>
      <%= c.text_field :education %>
    </div>
    <br>
    <button class="ui button" type='<%= c.submit %>'>Update</button>
    <br>
    <br>
  <% end %>