<h3>Instructor Tab</h3>
<br>
<%= form_for @new_instructor, url: instructor_index_path, html: {class: "instructor_form"} do |i| %>
    <h1> First Name </h1>
    <br>
    <%= i.text_field :fName %>
    <br> 
    <h1> Last Name </h1>
    <br>
    <%= i.text_field :lName %>
    <br>
    <h1> Age</h1>
    <br>
    <%= i.text_field :age %>
    <br>
    <h1> Salary </h1>
    <br>
    <%= i.text_field :salary %>
    <br>
    <h1> Education </h1>
    <br>
    <%= i.text_field :education %>
    <br>
    <br>
    <%= i.submit "Create" %>
<% end %>

<div>
  <table class="ui celled table">
    <thead>
    <tr><th> First Name </th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Salary</th>
    <th>Education</th>
    <th></th>
    <th></th>
    </tr></thead>
  <tbody>
    <% @instructor.each do |i| %>
      <tr>
        <td data-label="First Name"><%= i.fName %></td>
        <td data-label="Last Name"><%= i.lName %></td>
        <td data-label="Age"><%= i.age %> </td>
        <td data-label="Salary"><%= i.salary %> </td>
        <td data-label="Education"><%= i.education %> </td>
        <td data-label=""><%= link_to "DELETE", '/instructor/' + i.id.to_s, method: :delete, class: "btn" %></td>
        <td data-label="""><%= link_to  "EDIT", edit_instructor_path(@instructor) %></td>
      </tr>
    <% end %>
  </div>

 