<!DOCTYPE html>
<html>
  <head>
    <title>PamelaSPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
    <div class="ui secondary pointing menu">
    <%= render "layouts/nav" %>
    </div>

      <div class="ui grid">
      <div class="two wide column" class='col'>
      <div class="ui vertical pointing menu" class="vertically fitted item">
      <a class='item' href='/'>Home</a>
      <a class='item' href='/cohort'>Cohort</a>
      <a class='item' href='/instructor'>Instructor</a>
      <a class='item' href='/student'>Student</a>
      <a class='item' href='/course'>Course</a>
      </div>
      </div>
      <div class="fourteen wide stretched column">
      <div class="ui segment">
    <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      </div>
      <%= yield %>
      </div>
      </div>
      </div>



      <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </body>
</html>
